{# Header #}
{% include '@ignite/partials/header.html.twig' %}


<!-- END Carousel -->
<!-- main-area -->
<main>
  {% if page_title %}
    <div class="ige-page-title my-px-30">
      <div class="container-xl">
        <div class="inner">
          <h2 class="m-0 p-0">{{ page_title }}</h2>
        </div>
      </div>
    </div>
  {% endif %}

  {% block main %}
    {{ page.content }}
  {% endblock %}
</main>
<!-- END main -->


{# Footer #}
{% include '@ignite/partials/footer.html.twig' %}
