{% extends "@ignite/layout/page.html.twig" %}

{% block main %}
  {% include "@ignite/partials/sponsors.html.twig" %}

  <div class="mt-2">
    {% include "@ignite/partials/clips.html.twig" %}
    <div class="my-2 text-primary">
      {% include "@ignite/partials/texts.html.twig" %}
    </div>
  </div>
  <div class="mt-2">
    {% include "@ignite/partials/clips.html.twig" %}
    <div class="my-2 text-primary">
      {% include "@ignite/partials/texts.html.twig" %}
    </div>
  </div>

  <section class="my-px-40">
    <div class="container-xl">
      {% include "@ignite/partials/widgets/about.html.twig" %}
    </div>
  </section>

  {% include "@ignite/partials/widgets/statistics.html.twig" %}

  {{ page.content }}

  {{ page.news_area }}
{% endblock %}
