{% extends "@ignite/layout/page.html.twig" %}

{% block main %}
  <!-- Section:Introduction -->
  <div id="introduction" class="section">

    {% if page.introduction_area %}
      <div class="section-inner">
        <div class="container">
          <div class="row">
            <div class="col-12 col-xl-8">
              <h1 class="section-title">
                {{ "What is"|t }}
                <br>
                <img style="width: 225px"
                     src="{{ base_path ~ directory }}/dist/img/logo.svg"
                     alt="Ignite"/>؟
              </h1>

              <div class="fs-4">
                {{ page.introduction_area }}
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
  <!-- END Section:Introduction -->
  {{ page.content }}
{% endblock %}
