<div class="ige-block-about">
  <svg class="ige-block-about__illus" data-src="{{ base_path ~ directory }}/dist/webassets/images/illustrations/ilus-green.svg"/>
  <div class="ige-block-about__content">
    <div class="container-xl">
      <div class="ige-block-about__title d-flex flex-column flex-xl-row align-items-center">
        <h3 class="mt-3 mt-xl-0">{{ "Initiatives"|t }}</h3>
        <svg class="ige-block-about__logo" data-src="{{ base_path ~ directory }}/dist/webassets/images/logos/ige-logo.svg"/>
      </div>

      <p>{{ "An executive program that aims to make the Kingdom of Saudi Arabia a leading country in the digital content sector and its platforms by 2030."|t }}</p>
    </div>
  </div>
</div>
