<section class="ige-categories">
  <div class="container-xl">
    <div class="ige-categories-list">
      <div class="ige-categories-list__item bg bg-info">
        <div class="ige-categories-item">
          <div class="ige-categories-item__icon">
            <svg data-src="webassets/images/icons/c-ghust.svg"/>
          </div>
          <div class="ige-categories-item__illus">
            <svg data-src="webassets/images/illustrations/circles.svg"/>
          </div>
          <div class="ige-categories-item__description">
            <h5>Game Design</h5>
            <p>c12xzc113c123123cxz123c321xzc231</p>
            <a class="btn btn-light text-primary text-start d-flex justify-content-between explore"
               href="/initiatives.html">
              <span>Explore Initiatives</span>
              <svg data-src="webassets/images/icons/arrow.svg" class="arrow"/>
            </a>
          </div>
        </div>
      </div>
      <div class="ige-categories-list__item bg bg-primary">
        <div class="ige-categories-item">
          <div class="ige-categories-item__icon">
            <svg data-src="webassets/images/icons/c-video.svg"/>
          </div>
          <div class="ige-categories-item__illus">
            <svg data-src="webassets/images/illustrations/shake.svg"/>
          </div>
          <div class="ige-categories-item__description">
            <h5>Advertising Industry</h5>
            <p>c12xzc113c123123cxz123c321xzc231</p>
            <a class="btn btn-light text-primary text-start d-flex justify-content-between explore"
               href="/initiatives.html">
              <span>Explore Initiatives</span>
              <svg data-src="webassets/images/icons/arrow.svg" class="arrow"/>
            </a>
          </div>
        </div>
      </div>
      <div class="ige-categories-list__item bg bg-success">
        <div class="ige-categories-item">
          <div class="ige-categories-item__icon">
            <svg data-src="webassets/images/icons/c-audio.svg"/>
          </div>
          <div class="ige-categories-item__illus">
            <svg data-src="webassets/images/illustrations/undercircle.svg"/>
          </div>
          <div class="ige-categories-item__description">
            <h5>Acoustics Design</h5>
            <p>c12xzc113c123123cxz123c321xzc231</p>
            <a class="btn btn-light text-primary text-start d-flex justify-content-between explore"
               href="/initiatives.html">
              <span>Explore Initiatives</span>
              <svg data-src="webassets/images/icons/arrow.svg" class="arrow"/>
            </a>
          </div>
        </div>
      </div>
      <div class="ige-categories-list__item bg bg-danger">
        <div class="ige-categories-item">
          <div class="ige-categories-item__icon">
            <svg data-src="webassets/images/icons/c-play.svg"/>
          </div>
          <div class="ige-categories-item__illus">
            <svg data-src="webassets/images/illustrations/stepstep.svg"/>
          </div>
          <div class="ige-categories-item__description">
            <h5>Video Industry</h5>
            <p>c12xzc113c123123cxz123c321xzc231</p>
            <a class="btn btn-light text-primary text-start d-flex justify-content-between explore"
               href="/initiatives.html">
              <span>Explore Initiatives</span>
              <svg data-src="webassets/images/icons/arrow.svg" class="arrow"/>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
