@mixin pxMarginGenerator($step, $max) {
  @for $i from 5 through $max {
    .my-px-#{$i * $step} {
      margin-top: ($i * $step) / 16 + rem;
      margin-bottom: ($i * $step) / 16 + rem;
    }
  }
}


@mixin pxIconSizes() {
  $size: 10;
  $step: 5;
  $max: 560;

  @while ($size < $max) {
    .icon-#{$size} {
      width: $size + px;
      height: $size + px;
      font-size: $size + px;

      path {
        fill: currentColor !important;
      }
    }

    $size: $size + $step;
  }
}