.#{$prefix}section {

  &-title {
    position: relative;
    margin-bottom: toRem(25);
  }

  &-title--under {
    padding-bottom: toRem(10);

    &::after {
      content: '';
      width: toRem(100);
      background: var(--#{$prefix}success);
      height: toRem(10);
      position: absolute;
      bottom: 0;
      left: 0;
      border-radius: toRem(30);
    }
  }

  &-description {
    overflow: hidden;
  }
}