{% extends "@ignite/layout/page.html.twig" %}

{% block main %}
	<div class="section">
		<div class="section-header p-5 text-center">
			<div class="container">
				<h2 class="section-title">{{ "Contact Us"|t }}</h2>
			</div>
		</div>

		<div class="section-inner">
			<div class="container">
				{{ page.content }}
			</div>
		</div>
	</div>
{% endblock %}
